body {
    background: url("imagenes/fondo1.png"),
        repeating-linear-gradient(to top right, #b967ff, #01cdfe);

    background-size: cover, contain;
    background-position: center, center;
    background-repeat: repeat, no-repeat;
    flex-direction: column;
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    height: 100vh;
    width: 100vw;
    justify-content: space-between;
    display: flex;

    align-items: center;

    margin: 0;
    padding: 0;

}

#formulariodesesion {
    margin: 20px 0;
    display: grid;
    flex-direction: column;
    align-items: center;

    border-width: 6px;
    border-radius: 30px;
    padding: 20px;
    background: rgb(199, 255, 252);

    max-width: 400px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;

    box-shadow: 5px 5px 5px 5px rgb(59, 59, 59);
    box-sizing: border-box;
}

#correo,
#contraseña {
    margin: 10px 0;
    font-family: "Rubik", sans-serif;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

#correo:hover,
#contraseña:hover {
    background-color: rgb(255, 142, 246);
    color: #333;
}

#correo:hover::placeholder,
#contraseña:hover::placeholder {

    color: #000000;
}

#ingresar {

    margin: 10px 0;

    font-family: "Rubik", sans-serif;
    border-style: solid;
    border-width: 1px;
    font-family: "Kode Mono", monospace;
    padding: 15px;
    background-color: #81def5b9;
    color: rgb(46, 46, 46);

    cursor: pointer;
    border-radius: 29px;
    border-color: rgb(58, 58, 55);
}

.informacionadicional {

    border-radius: 10px;
    box-sizing: border-box;
    background-color: rgb(122, 122, 122);
    color: rgb(2, 2, 2);

    justify-content: center;
    align-items: center;
    vertical-align: middle;
    display: flex;

    width: 100%;
    padding: 20px;
    margin-top: 20px;
    max-width: 10;
    margin-bottom: 20px;
    bottom: 20px;
    left: 0px;
    right: 0px;

    position: relative;

    box-shadow: 5px 5px 5px 5px rgb(59, 59, 59);
    box-sizing: border-box;


}

.piedepagina {
    margin-top: 20px;
    background-color: black;
    color: white;

    text-align: center;


    width: 100%;
    padding: 20px;


    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    box-sizing: border-box;

}

#iconoadicional {
    width: 50px;
    height: 45px;
    border-radius: 10px;
}

#imagen1 {
    height: 250px;
    width: 250px;

}

#imagen2 {
    height: 250px;
    width: 250px;

}

#imagen3 {
    height: 250px;
    width: 250px;

}

#imagen4 {
    height: 250px;
    width: 185px;

}

#imagen5 {
    height: 250px;
    width: 250px;

}

#imagen6 {
    height: 250px;
    width: 250px;

}

.producto {

    border-style: solid;
    border-radius: 10px;
    border-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

#navegacion {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #a0e4f5;
    border-style: solid;
    border-width: 2px;
    

}

#principallogo {
    width: 100px;
    position: absolute;
    right: 50px;
    top: 10px;
}



#logofooter {
    width: 40px;
    position: absolute;
    right: 375px;
    bottom: 10px;

}

#logofooter1 {
    width: 40px;
    position: absolute;
    left: 375px;
    bottom: 10px;

}

.container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    row-gap: 5px;
    margin: 5px;
    background-color: #f6f6f0;
}

.is-button {
    border-style: solid;
    border-color: #000000;
    border-radius: 5px;
    background-color: rgb(246, 246, 12);
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

#purchaseForm {
    background-color:whitesmoke;
    border-style: solid;
    border-color: #333;
    border-radius: 10px;
}

.cabecera {
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 5px 5px 5px 5px rgb(46, 46, 46);
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    margin-top: 5px;
}

.comentarios {
    background-color: #38d7fb;
    border-style: dashed;
    border-color: #000000;
    border-radius: 5px;
}

.formulario-de-compras {
    position: absolute;
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    
}

#tituloForm {
    border-style: solid;
    border-radius: 5px;
    border-color: #333;
    background-color: #ffffff;
}